@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    letter-spacing: 0.5px;
}

.container {
    width: 100%;
    padding: 0 20px;
    max-width: $maxContainerwidth;
    margin: 0 auto;
}

h3,
h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
    letter-spacing: 1px;
    color: $mainColor;
}

a {
    // text-decoration: none;
    // color: $mainColor;
}

.period {
    background: #f9e7e6;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0 4px;
    margin-left: 10px;
}
