@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/junho2343/junho2343.github.io/public/assets/font/PretendardVariable.woff2");
}
@layer base {
  * {
    @apply font-[300];
    font-family: "Pretendard";
    letter-spacing: 0.5px;
    /* box-sizing: border-box; */
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-3xl font-[700];
  }
  h2 {
    @apply text-2xl font-[400];
  }
  h3 {
    @apply text-xl font-[400];
  }

  ul {
    @apply pl-5;
  }
  li {
    @apply list-disc pt-2;
  }

  a {
    @apply text-primary hover:hover:underline;
  }

  /* ... */

  .galleryImage {
    width: 100%;
  }
  .galleryImage > span {
    position: unset !important;
  }
  .galleryImage > span > img {
    object-fit: contain !important;
    position: relative !important;
    height: auto !important;
  }
}
